h2 {
    margin-top: 15px;
    margin-bottom: 10px;
}
.imgmain .contentmain .tablenode {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.imgmain .contentmain .tablenode .place {
    width: 49%;
    margin: 0 auto 16px;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #e6e6e6;
    padding: 15px;
    position: relative;
}
.place .title {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-weight: lighter;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #e6e6e6;
    z-index: 1;
}
.place .content {
    margin-top: 40px;
}
.place .content .headline {
    text-align: inherit;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.place .content ul {
    padding-left: 40px;
    text-align: left;
}
.place .content ul li {
    padding-bottom: 5px;
}
.place .content .node {
    padding-top: 10px;
    font-style: italic;
}